.our-advantages
  padding-top 54px
  padding-bottom 54px
  position relative
  overflow-x: hidden

  @media (min-width: 641px)  
    padding-top 84px

  @media (min-width: 1025px)
    padding-top 104px
    
  @media (min-width: 1281px)  
    padding-top 180px

  &__head
    max-width 1085px
    width 100%
    position relative
    z-index 2

    @media (min-width: 1024px)  
      display flex

    @media (min-width: 1281px)  
      max-width 1276px

  &__title
    color: #000000
    font-size: 24px
    font-weight: 400
    line-height: 1.1
    margin-top 0
    margin-bottom 12px
    width 100%

    @media (min-width: 641px)
      font-size: 42px
      margin-bottom 30px
    
    @media (min-width: 1025px)
      margin-bottom 0
    
    @media (min-width: 1281px)  
      font-size: 52px
  
  &__desc
    color: #000
    font-size: 15px
    font-weight: 400
    line-height: 1.4

    @media (min-width: 641px)
      font-size: 18px

    @media (min-width: 1024px)  
      max-width: 450px
      margin-left auto
    
    @media (min-width: 1281px)  
      font-size 20px
  
  &__wrapper
    padding-top 30px
    padding-bottom 30px
    overflow: visible

    @media (min-width: 641px)
      padding-top 55px
      padding-bottom 55px

    @media (min-width: 1025px)
      padding-top 67px
      padding-bottom 67px

    @media (min-width: 1281px)    
      padding-top 80px
      padding-bottom 80px

  &__item
    width: 260px
    height: 280px
    padding 48px 20px 20px 20px
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.1)
    border-radius: 16px
    background-color: #fff
    
    @media (min-width: 375px)
      width: 320px
      height: 325px

    @media (min-width: 641px)
      padding 60px 20px 20px 30px
      
    
    @media (min-width: 1025px)
      width: 365px

  &__body
    position relative
    height 100%
    display flex
    flex-direction: column

  &__name
    color: #000
    font-size: 15px
    font-weight: 400
    line-height: 1.4
    max-width: 244px
  
  &__number
    color: #c6eaff
    font-size: 44px
    font-weight: 400
    line-height: 1
    margin-top auto
    margin-bottom 20px
  
  &__img
    position absolute
    bottom 0
    right 0
    width 60%

    @media (min-width: 375px)
      width auto

    img
      vertical-align top
  
  &__info
    display flex
    justify-content center
    padding-top 30px
    position relative
    z-index 2

  &__info-item
    color: #000
    display flex
    flex-direction: column
    align-items center
    padding 20px 20px 20px 30px
    position relative

    @media (min-width: 375px)
      padding 20px 40px 20px 40px

    @media (min-width: 641px)
      padding 45px 60px 45px 60px

    @media (min-width: 1025px)
      padding 45px 65px 45px 105px
      

    span
      font-size: 13px
      font-weight: 300
      line-height: 1.2
      margin-bottom 14px
      text-align center

      @media (min-width: 641px)
        font-size 24px
      @media (min-width: 1025px)
        font-size: 28px
      @media (min-width: 1281px)    
        font-size: 32px
    
    strong
      font-size: 23px
      font-weight: 400
      line-height: 1
      text-align center

      @media (min-width: 641px)
        font-size 42px
      @media (min-width: 1025px)
        font-size: 48px
      @media (min-width: 1281px)    
        font-size: 52px
    
    &:first-child
      padding-left: 20px
      padding-right: 30px
      border-right: 1px solid #53bcf0

      @media (min-width: 375px)
        padding-right: 40px

      @media (min-width: 641px)
        padding-left: 25px
        padding-right 60px
      
      @media (min-width: 1025px)
        padding-right 105px
  
  &__bottom
    display flex
    align-items center
    flex-direction: column
    padding 50px 20px 43px 20px
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.1)
    border-radius: 62px
    background-image: linear-gradient(-87deg, #53bcf0 0%, #398bcb 100%)
    margin-top 50px
    position relative
    z-index 2

    @media (min-width: 641px)
      padding 73px 30px 53px 30px
      margin-top 80px

    @media (min-width: 1025px)
      border-radius: 320px
      padding 40px
      flex-direction: row
      justify-content center

    strong
      color: #fff
      font-size: 16px
      font-weight: 400
      line-height: 1.4
      margin-bottom 20px
      text-align center
      max-width: 190px

      @media (min-width: 641px)
        font-size 20px
        margin-bottom 25px
        max-width: none

      @media (min-width: 1025px)
        text-align-last left
        margin-right 70px
        margin-bottom 0 
      
      @media (min-width: 1281px)    
        font-size 22px
  
  &__button-work
    color: #398bcb
    
    &.button-default 
      &--fill
        
        background-color: #fff
        background-image: none

        @media (min-width: 1281px)    
          min-width 300px
  
  &__circle
    width: 802px
    height: 802px
    border-radius: 50%
    background-color: #f3fafe
    position absolute
    top -77px
    left 50%
    transform: translateX(-50%)

    @media (min-width: 641px)
      width: 1112px
      height: 1112px

    @media (min-width: 1281px)    
      width: 1214px
      height: 1214px
      top -88px
