.hero
  padding-top 154px
  padding-bottom 50px
  background-image: linear-gradient(-59deg, #53bcf0 0%, #398bcb 100%)
  overflow: hidden
  position relative
  height 667px
  
  @media (min-width: 641px)
    padding-top 215px
    height 900px

  @media (min-width: 1025px)
    padding-top 223px
    padding-bottom 63px
  
  @media (min-height: 700px)
    height 100vh !important

  &__pic
    position absolute
    top 50%
    left 50%
    transform: translate(-50%, -90%)
    width 260px
    height 260px
    z-index 1

    @media (min-width: 641px)
      width 450px
      height 450px
      transform: translate(-50%, -60%)

    @media (min-width: 1025px)
      width 382px
      height 382px

    @media (min-width: 1281px)
      width 525px
      height 525px
      margin-top -70px
      transform: translate(-50%, -40%)

    img
      vertical-align top

  &__container
    height 100%

  &__inner
    display flex
    flex-direction: column
    height 100%

  &__content
    max-width: 1340px
    width 100%
    // margin-right 150px
    margin-right auto
    margin-top auto
    margin-left auto
    display flex
    flex-direction: column
    align-items center
    position relative
    z-index 2
    margin-bottom 20px

    h1
      color: #ffffff
      font-size: 32px
      font-weight: 600
      line-height: 1.1
      text-align: center
      text-transform: uppercase
      max-width: 830px
      margin-top 0
      margin-bottom 10px

      @media (min-width: 375px)
        font-size 38px

      @media (min-width: 641px)
        font-size: 65px
        bottom 28px

      @media (min-width: 1025px)
        margin-bottom 20px

      @media (min-width: 1281px)
        font-size: 90px
        margin-bottom 35px
  
  &__desc
    color: #ffffff
    font-size: 16px
    font-weight: 400
    line-height: 1.5
    text-align center

    @media (min-width: 641px)
      text-align left
      max-width: 490px
      width 100%
      font-size 18px
      margin-left auto
    
    @media (min-width:1025px)
      max-width: 630px

    @media (min-width: 1360px)  
      font-size 20px
  
  &__online-chat
    width 44px
    height 45px
    right 24px
    bottom 40px
    position absolute

    @media (min-width: 641px)
      right 40px
      bottom 28px

    @media (min-width: 1025px)
      width 55px
      height 57px

    @media (min-width: 1281px)  
      width 70px
      height 72px
      
    @media (min-width: 1900px) 
      right 150px
      bottom 150px

    img
      vertical-align top