.about-mobile-app
  color #fff
  padding-top 50px
  padding-bottom 64px
  background-image: linear-gradient(-59deg, #53bcf0 0%, #398bcb 100%)
  position relative
  overflow: hidden

  @media (min-width: 641px)
    padding-top 100px
    padding-bottom 73px

  @media (min-width: 1025px)
    min-height: 860px
  
  @media (min-width: 1281px)  
    min-height: 972px
    padding-top 184px
    padding-bottom 116px

  &:after
    content: ''
    position absolute
    top 215px
    left -352px
    width: 453px
    height: 453px
    background-color: #449fda
    border-radius: 50%
    display none

    @media (min-width: 1025px)
      top 170px
      display block

    @media (min-width: 1281px)  
      top 215px

  &__container
    position relative
    z-index 2
      
  &__head
    max-width 1085px
    width 100%
    position relative
    z-index 2
    margin-bottom 17px

    @media (min-width: 641px)
      margin-bottom 40px

  &__title
    font-size: 24px
    color #fff
    font-weight: 400
    line-height: 1.1
    margin-top 0
    margin-bottom 0
    width 100%

    @media (min-width: 641px)
      font-size: 42px
    
    @media (min-width: 1281px)  
      font-size: 52px

  &__inner
    flex-direction: column
    display flex

    @media (min-width: 1025px)
      flex-direction: row
  
  &__info
    flex: 1 1 auto
    order 1

    @media (min-width: 1025px)
      order -1

  &__item
    border-top: 1px solid rgba(255, 255, 255, 0.4)
    padding-top 30px
    padding-bottom 30px
    cursor pointer

    @media (min-width: 641px)
      padding-top 40px
      padding-bottom 40px

    &:last-child
      border-bottom: 1px solid rgba(255, 255, 255, 0.4)

    &._is-active

      .about-mobile-app
        &__content
          grid-template-rows: 1fr
        
        &__name
          i
            &:before
              transform: rotate(180deg) translateY(-50%)
              opacity 0

            &:after
              transform: rotate(90deg) translateX(-50%)
  
  &__name
    font-size: 18px
    font-weight: 400
    line-height: 1.1
    position relative

    @media (min-width: 641px)
      font-size: 20px
       
    @media (min-width: 1281px)  
      font-size: 22px

    i
      width 25px
      height 25px
      position absolute
      top 0
      left 0

      &:before, &:after
        content: ''
        position absolute
        background-color rgba(255, 255, 255, 0.5)
        transition: transform .3s, ease .3s

      &:before
        width 100%
        height 1px
        top 50%
        transform: translateY(-50%)
      
      &:after
        height 100%
        width 1px
        top 0
        left 50%
        transform: translateX(-50%)

    span
      padding-left 55px

  &__content
    display grid
    grid-template-rows: 0fr
    transition: grid-template-rows .3s
  
  &__body
    overflow: hidden
  
  &__text
    font-size: 13px
    font-weight: 300
    line-height: 2
    padding-top 18px
    max-width: 430px
    width 100%

    @media (min-width: 641px)
      font-size: 15px
      max-width: 375px
      padding-top 30px
      padding-bottom 30px
      padding-left 55px
      
    @media (min-width: 1281px)  
      font-size: 17px
      max-width: 430px
  
  &__preview
    max-width: 615px
    width 100%
    height 400px
    margin-right auto 
    margin-left auto
    position relative
    align-self: center
    margin-bottom 30px

    @media (min-width: 480px)
      height auto

    @media (min-width: 641px)
      
      margin-bottom 56px

    @media (min-width: 1025px)
      flex 0 0 680px
      width 680px
      max-width: 680px
      margin-top -80px
      margin-right 0
      margin-bottom 0
      margin-left 30px

    @media (min-width: 1281px)  
      flex 0 0 833px
      width 833px
      max-width: 833px
      margin-top -170px

    &:after
      content ''
      position absolute
      top 0
      left 50%
      transform: translateX(-50%)
      width: 316px
      height: 316px
      background-color: rgba(243, 250, 254, 0.31)
      border-radius: 50%
      z-index 1
      
      @media (min-width: 641px)
        width 616px
        height 616px
        
      @media (min-width: 1025px)
        top 20px
        
      @media (min-width: 1281px)  
        top 76px
        width: 755px
        height: 755px
  
  &__img
      vertical-align top
      position relative
      z-index 3
  
  &__button-view
    color: #060606
    font-size: 15px
    font-weight: 300
    line-height: 1.1
    text-align: center
    text-decoration none
    width: 193px
    height: 193px
    border-radius: 50%
    background-image: linear-gradient(150deg, #398bcb 0%, #53bcf0 100%)
    overflow: hidden
    position absolute
    left 50%
    transform: translateX(-50%)
    padding 28px
    bottom 0
    z-index 4

    @media (min-width: 641px)
      margin-top: 46px
      top 50%
      bottom auto
      transform: translate(-50%, -50%)

    @media (min-width: 1025px)
      margin-top: -11px

    @media (min-width: 1281px)  
      margin-top: 46px

    span
      border-radius: 50%  
      width 100%
      height 100%
      background-color #fff
      display block
      display flex
      flex-direction: column
      align-items center
      justify-content center

      &:after
        content: ''
        width 31px
        height 19px
        display block
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='19' viewBox='0 0 31 19'%3E%3Cg%3E%3Cg clip-path='url(%23clip-9ee0db96-44d4-4e65-88c5-361292363ffe)'%3E%3Cpath fill='%2353bcf0' d='M30.249 8.322L23.475.58a1.451 1.451 0 0 0-2.05-.144c-.574.5-.642 1.475-.144 2.05l4.673 5.337H2.047a1.452 1.452 0 0 0 0 2.903h23.907l-4.673 5.338c-.498.574-.417 1.536.144 2.05.588.537 1.55.43 2.05-.145l6.774-7.741c.475-.635.45-1.35 0-1.906'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
        background-repeat no-repeat
        background-position 0 0
        background-size contain
        margin-top 10px
        margin-right auto
        margin-left auto
  
  &__circle
    position absolute
    bottom -680px
    right -360px
    width: 824px
    height: 824px
    border: 18px solid #398bcb
    border-radius: 50%
    z-index 2
    display none

    @media (min-width: 1025px)
      bottom: -560px
      right: -325px
      width: 823px
      height: 823px
      display block
      
    @media (min-width: 1281px)  
      bottom -665px
      right -380px
      width: 1006px
      height: 1006px
    
    &--tablet

      @media (min-width: 641px)
        z-index -1
        display block


      @media (min-width: 1025px)
        display none