.services-block
  max-width: 1320px
  width 100%
  margin-right auto
  margin-left auto
  margin-top auto
  position relative
  z-index 2

  &__container
    height 100%

  &__wrapper

    @media (max-width: 1280px)
      overflow: visible

    .swiper-scrollbar
      max-width: 238px
      width 100%
      left 0
      height 2px
      background-color: rgba(255, 255, 255, 0.301)

      @media (min-width: 641px)
        max-width: 500px

      @media (min-width: 768px)
        left 50%
        transform: translateX(-50%)

      .swiper-scrollbar-drag
        height: 2px
        background-color: #fff
  
  &__items
    height 245px
    align-items center

  &__item
    width 240px
    height 120px
    transition: height .3s

    &:last-child
      &:hover
        height 150px

        .services-block
          &__more
            opacity 1
            visibility visible

          &__content
            padding-top 41px
            box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

          &__more
            bottom: 26px

        .services-block
          &__content
            color #000
            opacity 1
            background-color #fff


    &.swiper-slide-active
      @media (max-width: 1279px)
        &:hover
          height 150px

          .services-block
            &__more
              opacity 1
              visibility visible

            &__content
              padding-top 41px
              box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

            &__more
              bottom: 26px

        .services-block
          &__content
            color #000
            opacity 1
            background-color #fff

        + .swiper-slide

          &:hover
            height 150px

            .services-block
              &__more
                opacity 1
                visibility visible

              &__content
                padding-top 41px
                box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

              &__more
                bottom: 26px

          .services-block
            &__content
              color #000
              opacity 1
              background-color #fff

          + .swiper-slide

            &:hover
              height 150px

              .services-block
                &__more
                  opacity 1
                  visibility visible

                &__content
                  padding-top 41px
                  box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

                &__more
                  bottom: 26px

            .services-block
              &__content
                color #000
                opacity 1
                background-color #fff

    &.swiper-slide-next
      @media (min-width: 1280px)
        &:hover
          height 150px

          .services-block
            &__more
              opacity 1
              visibility visible

            &__content
              padding-top 41px
              box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

            &__more
              bottom: 26px

        .services-block
          &__content
            color #000
            opacity 1
            background-color #fff

        + .swiper-slide

          &:hover
            height 150px

            .services-block
              &__more
                opacity 1
                visibility visible

              &__content
                padding-top 41px
                box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

              &__more
                bottom: 26px

          .services-block
            &__content
              color #000
              opacity 1
              background-color #fff

          + .swiper-slide

            &:hover
              height 150px

              .services-block
                &__more
                  opacity 1
                  visibility visible

                &__content
                  padding-top 41px
                  box-shadow: 15px 15px 55px rgba(53, 93, 171, 0.55)

                &__more
                  bottom: 26px

            .services-block
              &__content
                color #000
                opacity 1
                background-color #fff

  &__content
    color: #fff
    overflow: hidden
    border-radius: 16px
    border: 1px solid #ffffff
    opacity: 0.3
    padding 26px 22px
    height 100%
    transition: box-shadow .3s, background-color .3s, ease .3s

    span
      font-size: 17px
      font-weight: 400
      line-height: 1.4
      user-select: none
  
  &__more
    color: #fff
    font-size: 15px
    font-weight: 100
    line-height: 1
    text-align: center
    text-decoration none
    width: 20px
    height: 20px
    border-radius: 50%
    background-image: linear-gradient(180deg, #398bcb 0%, #53bcf0 100%)
    display flex
    align-items center
    justify-content center
    position absolute
    bottom -16px
    right 22px
    opacity 0
    visibility hidden
    transition: opacity .3s, bottom .3s, ease .3s

    span
      line-height: 1
      transform: translateY(-1px)