.logo
  margin-right 10px
  position relative
  z-index: 101

  &__img
    max-width: 141px
    width 100%
    display block

    @media (min-width: 641px)
      max-width: 212px

    img
      vertical-align top