.main-menu
  
  &__nav

    ul
      list-style none
      display flex
      justify-content center
      padding-left 0
      margin 0

      li

        @media (min-width: 1025px)
          margin-right 60px

        @media (min-width: 1360px)
          margin-right 88px

        &:last-child
          margin-right 0

        a
          color: #fff
          font-size: 13px
          font-weight: 300
          line-height: 1.1
          text-decoration none
          padding-top 16px
          padding-bottom 16px
          display block
          
          &:hover
            text-decoration underline