---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: DentalPRO
	layout:
		header: true
		footer: true
		left: false
		right: false
	# Массив хлебных крошек, от главной до текущей страницы
	# Необходимо прописывать только имена файлов (шаблонов) страниц
	# Названия и ссылки проставятся автоматически
	crumbs: !!seq
	- home
body:
	classes: home
---

{% extends 'app.html' %}


{% block main %}

	{% include "hero.html" %}

	{% include "info-block.html" %}
	
	{% include "features.html" %}

	{% include "our-advantages.html" %}

	{% include "reviews-customer.html" %}

{% endblock %}
